<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Concurso Académico 2024</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="cont-header">
                <div>
                    <img class="img-header" src="/img/nuestroLogo.png" alt="img_header">
                </div>
                <div class="user-info">
                    <img class="img-user" src="/img/user.webp" alt="user_img">
                    <p id="user"><%= user_info.username %></p>
                </div>
            </div>
        </div>
    </header>

    <main class="main-banner">
        <div class="contenedor-banner">
            <h1 class="titulo-banner">Ronda <%= round %></h1>
            <p class="frase-banner">Nada somete más a un pueblo que la ignorancia; a pocas cosas temen más los soberanos que a un pueblo pensante.</p>
            <p class="frase-banner autor-banner"> - Juan Miguel Zunzunegui</p>
        </div>
    </main>
    <a id="link_round" href="/pregunta/<%= round %>" class="hidden"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/js/round.js"></script>
</body>